@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: rgb(229, 98, 98);
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 90px;
  left: 90px;
}

.circle1 {
    z-index: 1;
    position: absolute;
    top: 65px;
    left: 65px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    animation: enlarge-disappear 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

.circle2 {
    z-index: 2;
    position: absolute;
    top: 80px;
    left: 80px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    width: 60px;
    height: 60px;
    animation: enlarge-disappear 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

.circle3 {
    z-index: 3;
    position: absolute;
    top: 95px;
    left: 95px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    width: 30px;
    height: 30px;
    animation: enlarge-disappear 2s cubic-bezier(.21,.98,.6,.99) infinite alternate;
}

@keyframes enlarge-disappear {
    0% {
   		box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.2);
        transform: scale(0);
    }
    100% {
        box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
        transform: scale(1);
    }
}
