.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: #272C34;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.circle {
    position: relative;
    overflow: hidden;
    clip-path: circle(90px at 90px 90px);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    .sky {
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		right: 0;
		height: 124px;
		background: #7DDFFC;		
		animation: sky-turns-black 4s cubic-bezier(.4,0,.49,1) infinite;
	}
    .sun {
        position: absolute;
        z-index: 2;
        top: 7px;
        left: 73px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #FFEF00;
        transform-origin: 50% 400%;
        animation: sun-goes-down 4s cubic-bezier(.4,0,.49,1) infinite;
    }
}

@keyframes sun-goes-down {
  0% {
		background: #F57209;
    transform: rotate(-70deg);
  }
	
	30% {
		background: #FFEF00;
		transform: rotate(-28deg);
	}
	
	70% {
		background: #FFEF00;
	}

  100% {
		background: #F57209;
    transform: rotate(70deg);
  }
}

@keyframes sky-turns-black {
    0% {
        background: #272C34;
    }

    30% {
        background: #7DDFFC;
    }

    70% {
        background: #7DDFFC;
    }

    100% {
        background: #272C34;
    }
}
